

/* B30000 */

/* Student page */
* {
	margin: 0px;
	padding: 0px:
	font-family: Arial;		
}
.tasks{
	height: 300px;
	width: 250px;
	border: 1px solid black;
}

.tasklist{
	font-size: 15;
}

.extrainfoheader{
	width: 280px;
	height: 850px;
	float: right;
	margin-top: -15px;
	margin-right: -15px;
	border-left: 1px dashed #B30000;
}

.extrainfosub{
	width: 280px;
	height: 20px;
	border: 1px solid #B30000;
	margin-top: 60px;
	margin-left: -1px;
	background-color: white;
}

li{
	font-size: 15;
	margin-top: 5px;
	margin-left: 4px;
}

h5{
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	padding: 3px;	
}

b{
	font-size: 16;
}

a:link{
	color: inherit;
	text-decoration: none;
}

a:visited{
	color: inherit;
}

a:hover{
	color: #B30000;
}

.red{
	color: red;
}

.green{
	color: green;
}

.requirements{
  width: 82%;
  height: auto;
  padding: 3px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  border-bottom: 1px dashed #B30000;
}

/* Docentdeel */
.extrainfoheader_docent{
  width: 280px;
  height: 850px;
  float: left;
  margin-top: -15px;
  margin-left: -1px;
  margin-right: 15px;
  border-right: 1px dashed #B30000;
}

.extrainfosub_docent{
  width: 280px;
  height: 20px;
  border: 1px solid #B30000;
  margin-top: 60px;
  margin-right: -1px;
  background-color: white;
}

label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
  margin: 4px;
}

h5 {
  font-family: ;
  font-size: 14px;
  font-weight: 500;
  color: #B30000;
}

.hr {
  background-color: #666;
  height: 1px;
  border: 0px; 
}

input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  padding: 1px;
  width: 250px;
  height: 30px;
  margin-bottom: 2px;
  margin-top: 2px;
  outline: none; 
}

input[type="password"] {
  background-color: #FFFFFF;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  padding: 1px;
  width: 250px;
  height: 30px;
  margin-bottom: 2px;
  margin-top: 2px;
  outline: none; 
}

.codetextarea_docent{
  width: 350px;
  height: 350px;
  margin-top: 10px;
  margin-right: 10px;
  padding:3px; 
  font-size:14px; 
  border-width:1px; 
  border-color: #c9c9c9;
}

.codetextarea_docent_requirements{
  width: 350px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  padding:3px; 
  font-size:14px; 
  border-width:1px; 
  border-color: #c9c9c9; 
}


/* Codearea */
.codetextarea{
	width: 82%;
	height: 830px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	resize: none;
	padding:3px; 
	border-color:#B30000; 
	font-size:12px; 
	border-width:1px; 
	border-radius:4px;

}

/* header menu */
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #B30000;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #B30000;
}

.css-input 
{ padding:3px; border-color:#47c9af; font-size:12px; border-width:3px; border-radius:8px; border-style:double;  } 
		 
.css-input:focus { outline:none; }

.description{
  width: 100px;
  border: 1px solid red;
}




/*Badgebar*/
.badge-shell { height: 95px; margin-left:30px; margin-right:30px; margin-top:-3px; -webkit-user-select: none; }
.badgeBar { display: block; border: 3px solid #590E03; overflow: hidden; border-radius: 0px/*Top-left not rounded off*/ 0px 10px 10px; height:65px; margin: 0 auto; background-color:#94392B; text-align: center;float: none; max-width:1378px;/*maximum of 20 elements*/}
.badge { border: 3px solid #590E03; overflow: hidden; border-radius: 4px; height:52px; width:52px; margin:5px; margin-top:4px; background-color:#94392B; display: inline-block;}
/*End Badgebar*/


/*Sidebar*/
* { padding:0; margin:0; outline:0; }

#right-sidebar { float:right; width:330px; opacity:0.9;}
#sidebar { float:left; width:310px; margin: 10px;
    font-family: calibri, "Trebuchet MS", Arial, sans-serif;
    font-size:13px;
    line-height:16px;
}
/*#content { float:left; width:630px; min-height: 1090px; background-color: #FFF; padding-left: 15px; margin-left: -15px; padding-right: 352px; margin-right: -352px; }*/

.listing ul li { border-bottom:dashed 1px #baa; padding:4px 0; color:#000; text-decoration: none; padding-left:20px; }
.listing ul li h5 { color:#7b2525; list-style-type: none; font-size:14px; margin-left:-13px; text-transform: uppercase; font-style:none; font-style:normal; margin-top:12px;}/*head item*/
.listing ul li a h5:hover{ color:#a4493B !important; text-decoration: underline;}/*hover, in case the head-item is a link*/
.listing ul a { color:#421; text-decoration: none; font-style:italic;}/*link, prevent permanent underline*/
.listing ul a li:hover{ color:#94392B !important;  text-decoration: underline; }/*hover, in case the sub-item is a link*/
.listing ul li.noUnderline{ border-bottom:0; padding-bottom:10;}/*the bottom element*/


.addCriteria { resize: none; width:268px; margin-left:-3px; margin-top:3px; margin-bottom:1px; border:none;}
.criteriaSubmissionButton { border:none; outline: none; margin:2px; float:right; cursor: pointer; width: 143px; height: 22px; -webkit-user-select: none; padding-left:7px; padding-top:-100px; background-color:#84392B; box-shadow: 0px 0px 5px #DBB inset; border-radius: 5px; color: #FFF; font-style:italic; line-height: 22px; }
.criteriaSubmissionButton:hover {background-color:#A55; box-shadow: 0px 0px 5px #FDD inset; text-decoration: underline;}


h2 { font-size:16px; line-height:16px; color:#590E03; text-decoration:bold;}

.boxx { margin-bottom:10px; overflow: hidden; border-radius: 5px; border: 2px solid rgba(0, 0, 0, 0);}
.boxx h2{ background-color:#590E03; background-size: 100% 380%; color:#FFF; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; box-shadow: 0px 0px 12px #300;}
.boxx-content { padding:5px; padding-top:0px;}
/*.boxx:hover{ border: 2px solid #590E03;}*/

/*End Sidebar*/







/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ffffff;
  text-shadow: none;
}
::selection {
  background: #ffffff;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #B30000 ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.login-form {
  margin: 50px auto;
  background: white;
  padding: 30px 0;
  position: center;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  height: 450px;
}
.login-form #form-loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1000;
  background: #555555;
}
.login-form #form-loading i {
  font-size: 100px;
}
.login-form #form-message {
  text-align: center;
  color: #555555;
}
.login-form .h1 {
  font-size: 30px;
  color: #B30000;
  padding: 15px 15px 35px 15px;
  text-transform: uppercase;
  text-align: center;
}
.login-form .logo {
  height: auto;
  max-width: 100%;
}
.login-form .group {
  *zoom: 1;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  border-left: 4px solid #fff;
  padding: 10px 0;
}
.login-form .group:before,
.login-form .group:after {
  content: " ";
  display: table;
}
.login-form .group:after {
  clear: both;
}

.login-form .group > div {
  padding: 0 15px;
}
.login-form .group > div.addon-right {
  position: relative;
  padding-right: 50px;
}
.login-form .group > div.addon-right > i {
  position: absolute;
  right: 25px;
  top: 9px;
  z-index: 999;
  color: #555555;
}
.login-form .group > div .error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.login-form .group.active {
  background: #F6F6F6;
  border-left-color: #40C2FF;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
}
.login-form input[type=submit] {
  border: none;
  background: #65CA60;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
  cursor:pointer;
}
.login-form input[type=submit]:hover {
  background: #5AC253;
}
.login-form {
  width: 320px;
}
@media (min-width: 550px) {
  .login-form {
    width: 520px;
  }

  .login-form .group > div {
    margin-left: 180px;
    padding-left: 0;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: 'Roboto', sans-serif;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.arrow-up {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}
.arrow-down {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
.arrow-right {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}
.arrow-left {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}
.arrow {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}
.arrow.up {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}
.arrow.down {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
.arrow.right {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}
.arrow.left {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}



em {
    display: block;
    margin: 5px 0 0px 180px;
    font-style: inherit;
}
.welcome{
	line-height: 50px;
	padding-left:30px;
	color: #555555;
}	

p#notLoggedIn {
	color: #FFFFFF;
}