body {
	width: 100%;
}


/* B30000 */
* {
  margin: 0px;
  padding: 0px:
  font-size: 18;
  font-family: Arial;   
}

input[type="text"]{
  background-color: #FFFFFF;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  padding: 1px;
  width: 200px;
  height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  outline: none; 
}

input[type="password"]{
  background-color: #FFFFFF;
  border: 1px solid #c9c9c9;
  font-size: 14px;
  padding: 1px;
  width: 200px;
  height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  outline: none; 
}

/* Student page */
.tasks{
	height: 300px;
	width: 250px;
	border: 1px solid black;
}

.tasklist{
	font-size: 15;
}

.extrainfoheader{
	width: 400px;
	height: 850px;
	float: left;
	border-right: 1px dashed #B30000;
}

.extrainfosub{
	height: 20px;
	border: 1px solid #B30000;
	margin-top: 5px;
	margin-left: -1px;
	background-color: white;
}

li{
	font-size: 15;
	margin-top: 5px;
	margin-left: 4px;
}

h5{
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	padding: 3px;	
}

b{
	font-size: 16;
}

a:link{
	color: inherit;
	text-decoration: none;
}

a:visited{
	color: inherit;
}

a:hover{
	color: #B30000;
}

.red{
	color: red;
}

.green{
	color: green;
}

.requirements{
  height: auto;
  padding: 3px;
  margin-left: 5px;
  margin-top: 5px;
  border-bottom: 1px dashed #B30000;
}

/* Docentdeel */
.extrainfoheader_docent{
  width: 280px;
  height: 850px;
  float: left;
  margin-top: -15px;
  margin-left: 5px;
  margin-right: 15px;
  border-right: 1px dashed #B30000;
}

.extrainfosub_docent{
  width: 285px;
  height: 20px;
  border: 1px solid #B30000;
  margin-top: 60px;
  margin-right: -1px;
  background-color: white;
}

label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
  margin: 4px;
}

h5 {
  font-family: ;
  font-size: 14px;
  font-weight: 500;
  color: #B30000;
}

.hr {
  background-color: #666;
  height: 1px;
  border: 0px; 
}

.docent_submit{
  color: #900;
  //width: 70px;
  //height: 20px;
  font-weight: bold;
  //padding-bottom: 18px;
}

.docent_checkassignment{

  color: #900;



  width: 150px;
  height: 20px;
  font-weight: bold;



}

.codetextarea_docent{
  width: 350px;
  height: 350px;
  margin-top: 10px;
  margin-right: 10px;
  padding:3px; 
  font-size:14px; 
  border-width:1px; 
  border-color: #c9c9c9;
}

.codetextarea_docent_requirements{
  width: 350px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
  padding:3px; 
  font-size:14px; 
  border-width:1px; 
  border-color: #c9c9c9; 
}


/* Codearea */
.codetextarea{
	width: 70%;
	height: 500px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	resize: none;
	padding:3px; 
	border-color:#B30000; 
	font-size:12px; 
	border-width:1px; 
	border-radius:4px;

}

/* header menu */
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  height:65px;
  border-bottom: 3px solid #B30000;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  position:absolute;
  top:18px;
  float:left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #B30000;
}

.css-input 
{ padding:3px; border-color:#47c9af; font-size:12px; border-width:3px; border-radius:8px; border-style:double;  } 
		 
.css-input:focus { outline:none; }

.description{
  width: 100px;
  border: 1px solid red;
}


/*OLD Badgebar*/
/*.badge-shell { height: 95px; margin-left:30px; margin-right:30px; margin-top:-3px; -webkit-user-select: none; }
.badgeBar { display: block; border: 3px solid #590E03; overflow: hidden; border-radius: 0px/*Top-left not rounded off*//* 0px 10px 10px; height:65px; margin: 0 auto; background-color:#94392B; text-align: center;float: none; max-width:1378px;/*maximum of 20 elements*//*}
.badge { border: 3px solid #590E03; overflow: hidden; border-radius: 4px; height:52px; width:52px; margin:5px; margin-top:4px; background-color:#94392B; display: inline-block;}*/
/*End OLD Badgebar*/

/*Badgebar*/
.badge-shell { position: absolute; left:570px; margin-left:30px; margin-right:20px; margin-top:3px; -webkit-user-select: none; }
.badgeBar { display: block; border: 3px solid #590E03; overflow: hidden; border-radius: 9px 9px 0px 0px;/*the top corners are rounded off*/ height:56px; margin: 0 auto; background-color:#94392B; text-align: center;float: none; max-width:1378px;/*maximum of 20 elements*/ border-bottom: 3px solid #B30000;/*causes the bottom border to be the same color as the menu*/}
.badge { border: 3px solid #590E03; overflow: hidden; border-radius: 4px; height:46px; width:46px; margin:4px; margin-top:3px; background-size: 100% 100%; display: inline-block;}
/*End Badgebar*/

/*Sidebar*/
* { padding:0; margin:0; outline:0; }

#right-sidebar { float:right; width:330px; opacity:0.9;}
#sidebar { float:left; width:310px; margin: 10px;
    font-family: calibri, "Trebuchet MS", Arial, sans-serif;
    font-size:13px;
    line-height:16px;
}
/*#content { float:left; width:630px; min-height: 1090px; background-color: #FFF; padding-left: 15px; margin-left: -15px; padding-right: 352px; margin-right: -352px; }*/

.listing ul li { border-bottom:dashed 1px #baa; padding:4px 0; color:#000; text-decoration: none; padding-left:20px; }
.listing ul li h5 { color:#7b2525; list-style-type: none; font-size:14px; margin-left:-13px; text-transform: uppercase; font-style:none; font-style:normal; margin-top:12px;}/*head item*/
.listing ul li a h5:hover{ color:#a4493B !important; text-decoration: underline;}/*hover, in case the head-item is a link*/
.listing ul a { color:#421; text-decoration: none; font-style:italic;}/*link, prevent permanent underline*/
.listing ul a li:hover{ color:#94392B !important;  text-decoration: underline; }/*hover, in case the sub-item is a link*/
.listing ul li.noUnderline{ border-bottom:0; padding-bottom:10;}/*the bottom element*/


.addCriteria { resize: none; width:268px; margin-left:-3px; margin-top:3px; margin-bottom:1px; border:none;}
.criteriaSubmissionButton { border:none; outline: none; margin:2px; float:right; cursor: pointer; width: 143px; height: 22px; -webkit-user-select: none; padding-left:7px; padding-top:-100px; background-color:#84392B; box-shadow: 0px 0px 5px #DBB inset; border-radius: 5px; color: #FFF; font-style:italic; line-height: 22px; }
.criteriaSubmissionButton:hover {background-color:#A55; box-shadow: 0px 0px 5px #FDD inset; text-decoration: underline;}


h2 { font-size:16px; line-height:16px; color:#590E03; text-decoration:bold;}

.boxx { margin-bottom:10px; overflow: hidden; border-radius: 5px; border: 2px solid rgba(0, 0, 0, 0);}
.boxx h2{ background-color:#590E03; background-size: 100% 380%; color:#FFF; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; box-shadow: 0px 0px 12px #300;}
.boxx-content { padding:5px; padding-top:0px;}
/*.boxx:hover{ border: 2px solid #590E03;}*/

/*End Sidebar*/

img.small {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

div.sideDiv {
	//float: left;
	width: 100%;
}

div.textareaWrapper {
	padding
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
